body{
    background-color:rgb(222, 224, 225);
    background-image: url('images/theme.png');
}



#logo {
    margin-left: 950px;
    border-radius: 20px;
    width: 400px;
   border-bottom: 5px;
    
}
#intro {
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    background-color: rgb(232, 231, 219);
    text-align:left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size:large;
    text-indent: 25px;
    padding: 50px;
    color: rgb(125, 127, 118);

   
    
}

#footer{
    font-size: small;
    background-color: rgb(128, 129, 123);
   
}

#aboutme{
    box-sizing:content-box;
    margin-top: 300px;
        margin-right: 40px;
        margin-bottom: 40px;
        margin-left: 20px;
    background-color:rgb(232, 231, 219);
    border-radius: 5px;
    text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: large;
        text-indent: 25px;
        padding: 20px;
        color:rgb(125, 127, 118);
    
}

#skills{
    margin-top:0px;
    float:right;
    width:250px;
    height:300px;
    border-radius: 50px;
 
}

#about{

    background-image:url('images/aboutme.png');
    background-position: center;
   
}

form {
    border-radius: 50px;
    border-style: groove;
   margin-left: 100px;
    margin-top: 50px;
    width: 40%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight:bold;
    background-color:rgb(232, 231, 219);
    color: rgb(125, 127, 118);
}

input {
    
    display: block;
    text-align: center;
    width: 50%;
    padding: 10px;
    margin: 10px auto;
    
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
}


#contact{
       

            background-color: rgb(232, 231, 219);
            float:inline-end;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: large;
            text-indent: 25px;
            padding: 50px;
            color: rgb(125, 127, 118);
            
   

}


.container {
    position: relative;
}

/* Bottom right text */
.text-block {
    position:relative;
    width: 400px;
    background-color: black;
    color: white;
    /* padding-left: 20px;
    padding-right: 20px; */
}
.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}